*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.heading{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.slot-header{
    display:flex;
    justify-content: center;
}
.slot-machine{
    background-color: azure;
    text-align: center;
    border: 1px solid black;
    width:400px;
    height:300px;

}